.teambuilding {
    height: 90vh;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
}

.teambuilding__background {
    width: 100%;
    height: 100%;

    object-fit: cover;

    grid-column: 1 / span 8;
    grid-row: 1 / span 3;
}

.teambuilding__info {
    grid-column: 1/6;
    grid-row: 2/3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    text-align: center;

    color: var(--white);
}

.teambuilding__heading {
    font-size: 60px;
    font-weight: normal;
}

.teambuilding__subHeading {
    font-size: 26px;
    font-weight: normal;
}

.teambuilding__about {
    width: 100%;

    font-size: 18px;
    text-align: center;
}

.teambuilding__readMore {
    margin-top: 2rem;

    text-decoration: none;

    font-weight: bold;

    text-transform: uppercase;

    color: var(--white);
}

@media screen and (max-width: 800px) {
    .teambuilding__info {
        grid-column: 1/9;
    }
}