@import url('./css/navigation.css');
@import url('./css/teambuilding.css');
@import url('./css/events.css');
@import url('./css/slider.css');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --white: #ffffff;
    --black: #000000;
    --light-gray: #F3F4F5;
    --gray: #8392A0;
    --bright-yellow: #FFD600;

    --primary-background-color: #3B4C5C;
    --secondary-background-color: #262F38;
    --background-accent: #75D1FF;

    --button-color: #E74C3C;
    --icon-color: #92c880;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Open Sans';
}

body {
    width: fit-content;
}